.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333; /* Default text color */
  }
  
  .container .jeepney-code {
    color: yellowgreen; /* Color for jeepney code text */
    font-weight: bold;
  }
  
  .input-field {
    width: calc(100% - 100px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .find-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .find-button:hover {
    background-color: #0056b3;
  }
  
  .output {
    margin-top: 20px;
    white-space: pre-wrap;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .highlighted {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #333230;
    color: #333;
  }
  